<div class="controls-container">
  <button
    mat-stroked-button
    class="control-btn pause-btn"
    disabled
    matTooltip="Not yet implemented in the backend"
    matTooltipPosition="below"
  >
    <mat-icon>pause_circle</mat-icon>
    Pause
  </button>
  <button
    mat-stroked-button
    class="control-btn resume-btn"
    disabled
    matTooltip="Not yet implemented in the backend"
    matTooltipPosition="below"
  >
    <mat-icon>play_circle</mat-icon>
    Resume
  </button>
  <button
    mat-stroked-button
    class="control-btn stop-btn"
    disabled
    matTooltip="Not yet implemented in the backend"
    matTooltipPosition="below"
  >
    <mat-icon>stop_circle</mat-icon>
    Stop
  </button>
</div>